.hedden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ========================================================================================================================================================
common
======================================================================================================================================================== */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ========================================================================================================================================================
HEADER
======================================================================================================================================================== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.menu-nav-link,
.address {
  display: none;
}
.logo-header {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.page-navigation {
  margin-right: auto;
}

.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icone-burger {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .logo-header {
    margin-right: 120px;
    padding: 24px 0;
  }
  .menu-nav-link {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .nav-link-studio {
    position: relative;
    color: #404bbf;
  }
  .nav-link-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .address {
    display: block;
    font-style: normal;
  }
  .menu-address-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .menu-address-link {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ========================================================================================================================================================
HEADER-MENU
======================================================================================================================================================== */

.mob-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 72px 16px 40px 16px;
}
.modal-close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu {
  margin-bottom: auto;
}
.menu-nav-link-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.nav-link-haader-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.icone-list-menu {
  display: flex;
  gap: 40px;
}
.address-menu {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
  display: none;
}
/* ========================================================================================================================================================
HERO
======================================================================================================================================================== */
.hero {
  max-width: 320px;
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-name {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  margin-top: 72px;
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
  .button-service {
    margin-top: 36px;
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
  }
  .hero-name {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
  }
}
/* ========================================================================================================================================================
Benefits
======================================================================================================================================================== */
.benefits-list {
  display: flex;
  max-width: 320px;
}

.benefits {
  gap: 72px;
}
.visually-hidden,
.logo-svg {
  display: none;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
.our-benefits-benefits {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-benefits-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .benefits-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 736px;
    gap: 72px 24px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list {
    display: flex;
    max-width: 100%;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .logo-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-top: 120px;
    margin-bottom: 8px;
  }
}
/* ========================================================================================================================================================
Team
======================================================================================================================================================== */
.team {
  background: #f4f4fd;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.team-nema {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;

  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  padding-bottom: 96px;
}
.team-card {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 264px;
  height: 428px;
}
.images {
  display: block;
}
.team-nema-position {
  text-align: center;
}
.team-nema-employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-icon-link {
  fill: #f4f4fd;
}
.team-employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-icone-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}
.team-list-lincs {
  width: 40px;
  height: 40px;
}
.team-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .team {
    background: #f4f4fd;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-nema {
    display: block;
    padding-top: 96px;
    padding-bottom: 72px;
  }
  .team-list {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    background: #f4f4fd;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 72px 24px;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
  }
  .team-nema {
    padding-top: 120px;
    padding-bottom: 72px;
  }
}
/* ========================================================================================================================================================
Portfolio
======================================================================================================================================================== */
.our-portfolio {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  padding-top: 96px;
  padding-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 96px;
}
.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-link {
  display: block;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.overaly {
  position: absolute;
  top: 0;
  font-size: 16px;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overaly,
.card-link:focus .overaly {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nema-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-nema {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.variety {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .our-portfolio {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-list {
    display: flex;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-portfolio {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-list {
    display: flex;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}
/* ========================================================================================================================================================
Footer
======================================================================================================================================================== */
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.page-footer-container {
  display: flex;
  flex-direction: column;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-logo-first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover,
.footer-social-links:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icone-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.footer-social-list {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  fill: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}
.subscribe-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscribe-form-label {
  display: flex;
  justify-content: center;
}
.subscribe-form-input {
  background: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 15px;
}
.subscribe-button-container {
  display: flex;
  justify-content: center;
}
.subscribe-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}
.subscribe-icone {
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-footer-container {
    align-items: center;
  }
  .footer-logo-first {
    justify-content: flex-start;
  }
  .page-footer-lincs {
    display: block;
    margin-left: 24px;
  }
  .footer-logo-description {
    display: flex;
    align-items: baseline;
  }
  .footer-icone-text {
    justify-content: flex-start;
  }
  .footer-subscribe {
    display: flex;
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    max-width: 1158px;
  }
  .page-footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-subscribe {
    margin-left: 80px;
  }
  .footer-conteiner-logo {
    margin-left: 0;
  }
}
/* ========================================================================================================================================================
BACKDROP
======================================================================================================================================================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.5;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-icone,
.modal-close-btn:focus > .modal-close-icone {
  fill: #ffffff;
}
.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  margin-top: 8px;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.review-form-field-icone {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.review-form-input:focus + .review-form-field-icone {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}
.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-field-textarea {
  margin-bottom: 16px;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-checkbox:checked
  + .rewiew-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
  border: none;
}
.review-form-checkbox:focus
  + .rewiew-form-checkbox-label
  .review-form-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.rewiew-form-checkbox-label {
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 5px;
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link {
  line-height: 16px;
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.review-form-submit {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    height: 584px;
  }
}
